.root {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
}

.link {
  text-decoration: none;
}
