.navigation {
  @extend .flex-center;
  z-index: 1;
}

.list {
  @extend .flex;
  gap: var(--space-small);
  list-style: none;
}

.link {
  @extend .link-unstyled;
  padding: var(--space-small) var(--space-medium);
  font-size: 16px;
  border-radius: var(--border-radius-small);
  transition: background-color 0.3s linear;
  @include setFontColor(--color-font-primary);

  &:hover {
    background-color: var(--color-hover-secondary);
  }
  &-selected {
    background-color: var(--color-hover-secondary);
  }

  @include setBreakpoint(420px) {
    font-size: 12px;
  }
}
