.header {
  position: fixed;
  @extend .flex-between-center;

  height: 8rem;
  width: 100%;
  max-width: 100vw;
  padding: var(--space-small) 20%;
  background-color: var(--color-element-light);
  z-index: 1000;
  @include setBreakpoint(600px) {
    padding: 0 10vw;
  }

  @include setBreakpoint(420px) {
    padding: 0 5vw;
  }
}
