.button {
  @extend .flex-between-center;
  width: 100%;
  max-width: 40rem;
  height: 6rem;
  padding: 1rem var(--space-small);
  border: var(--border-solid);
  border-radius: var(--border-radius);
  font-size: 1.9rem;
  box-shadow: var(--shadow);

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: var(--color-button-primary);
    border: 1px solid var(--color-element-primary);
    &:hover {
      background-color: var(--color-hover-primary);
    }
  }

  &.secondary {
    background-color: var(--color-button-secondary);
    &:hover {
      background-color: var(--color-hover-secondary);
    }
  }
}

.button-icon {
  @extend .icon-rounded;
  background-color: var(--color-element-primary);
  height: 3.5rem;
  width: 3.5rem;
}

.button-title {
  padding: var(--space-small);
  margin: 0 auto;
}

.small {
  height: 5rem;
  font-size: 1.8rem;
}
