.button {
  height: 3.5rem;
  width: 19rem;
  border: none;
  background-color: rgb(110, 110, 207);
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(89, 0, 255);
  }
}
