.button {
  @extend .flex-between-center;
  width: max-content;
  min-width: 18rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-color-primary);
  font-size: 1.8rem;
  box-shadow: var(--shadow);

  &:hover {
    cursor: pointer;
  }
}

.button-title {
  margin-left: var(--space-medium);
}

.button-icon {
  @extend .icon-rounded;
  height: 3.5rem;
  width: 3.5rem;
}
