.card-name {
  font-size: 2.5rem;
  font-weight: 500;
}

.card {
  @extend .flex-column;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  height: max-content;
  box-shadow: var(--shadow);
  background-color: var(--color-element-light);
  max-width: 33rem;
  width: 95vw;

  @include setBreakpoint(600px) {
    max-width: 35rem;
  }
}

.card-content {
  @extend .flex-column;
  padding: var(--space-big);
}
