$layout-break-1: 1100px;

.layout {
  @extend .flex-center-column;
  gap: var(--space-large);
  padding: var(--space-large);
  margin-top: var(--space-big);
  @include setBreakpoint($layout-break-1) {
    padding: var(--space-big);
    margin-top: 0;
  }
}

.room {
  @extend .flex-center;
  gap: var(--space-large);
  @include setBreakpoint($layout-break-1) {
    flex-direction: column;
  }
}

.room-details {
  @extend .flex-column;
  gap: var(--space-medium);

  @include setBreakpoint($layout-break-1) {
    align-items: center;
  }
}

.room-widgets {
  @extend .flex;
}

.room-details-price {
  font-weight: 700;
  font-size: 2rem;
  @include setFontColor(--color-highlight);
}

.room-description {
  width: 50rem;
  max-width: 95vw;
  margin: var(--space-small) 0;

  @include setBreakpoint($layout-break-1) {
    width: 60rem;
    padding: var(--space-small);
  }
}
