.section {
  @extend .flex-center-column;
  background-image: url('/icons/paw-blurred.svg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0% 80%;
}

.card-grid {
  justify-content: center;
  margin: 0 auto;
  gap: var(--space-big);
  margin-top: var(--space-large);
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
