.section {
  @extend .flex-center-column;
}

.card-grid {
  justify-content: center;
  margin: 0 auto;
  gap: var(--space-big);
  margin-top: var(--space-large);
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
