.address-wrapper {
  @extend .flex-column;
  gap: var(--space-small);
  font-style: normal;
  text-decoration: none;
}

.addres-link {
  @extend .link-unstyled;
}

.address-contact {
  @extend .flex-column;
  gap: var(--space-small);
  margin-top: var(--space-medium);
}
