.newsletter {
  @extend .flex-center-column;
  gap: var(--space-small);
  height: min-content;
}

.newsletter-form {
  @extend .flex;
  padding: var(--space-medium);
  gap: var(--space-small);
  border-radius: var(--border-radius);
  background-color: var(--color-element-dark);
}
