.newsletter {
  @extend .flex-center-column;
  gap: var(--space-small);
  height: min-content;
}

.newsletter-content {
  @extend .flex-center;
  max-width: 98vw;
  padding: var(--space-medium);
  background-color: var(--color-element-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.newsletter-form {
  @extend .flex-center;
  gap: var(--space-small);
}

.newsletter-confirmation {
  width: max-content;
  color: var(--color-highlight);
}
