.newsletter {
  @extend .flex-center-column;
  gap: var(--space-small);
  height: min-content;
}

.newsletter-content {
  border-radius: var(--border-radius);
  background-color: var(--color-element-dark);
  padding: var(--space-medium);
  max-width: 98vw;
}

.newsletter-form {
  @extend .flex-center;
  gap: var(--space-small);
}
