.map-wrapper {
  height: 48rem;
  width: 70rem;
  max-width: 95vw;
  overflow: hidden;
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow);
}

#map {
  position: relative;
  height: inherit;
  width: inherit;
}
