:root {
  --primary-color: #0076c6;
  --highlight-color: rgb(163, 41, 194);
  --font-color-primary: black;
  --blur: 10px;

  --button-color-primary: rgb(255, 254, 253);

  --button-color-secondary: rgb(255, 224, 247);
  --element-primary: rgb(194, 134, 179);

  --space-small: 1rem;
  --space-medium: 2rem;
  --space-big: 3rem;
  --space-large: 6rem;

  --shadow: 8px 8px 38px -14px rgba(133, 136, 163, 0.4);

  --border-solid: 1px solid rgb(244, 233, 252);

  --border-radius: 10rem;
  --border-radius-small: 1rem;
}
