.placeholder {
  @extend .flex-center-column;
  margin-top: var(--space-large);

  justify-self: center;
  grid-column: span 2;
  gap: var(--space-medium);

  @include setBreakpoint(1350px) {
    margin-top: 0;
    grid-column: span 3;
  }
}

.placeholder-title {
  font-size: 2rem;
  @include setFontColor(--color-element-primary);
}
