.section {
  @extend .flex-center-column;
}

.section-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-big);
  padding: var(--space-large);
  @include setBreakpoint(850px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
