.form-root {
  @extend .flex-center-column;
  gap: var(--space-small);
  width: 100%;
  padding: var(--space-big) var(--space-medium);
}

.form-field {
  display: grid;
  margin-bottom: var(--space-small);
  width: 100%;
}

.form-field-messages {
  @extend .flex-between;
  align-items: baseline;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35px;
}

.form-message {
  font-size: 1.2rem;
  opacity: 0.8;
  @include setFontColor(--color-warning);
}

.form-input,
.textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  background-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-element-primary);
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.textarea:hover {
  box-shadow: 0 0 0 1px black;
}
.form-input:focus,
.textarea:focus {
  box-shadow: 0 0 0 2px black;
}

.form-input {
  padding: 0 var(--space-small);
  height: 4rem;
  line-height: 1;
  border-radius: var(--border-radius-small);
}

.textarea {
  resize: none;
  padding: 10px;
  border-radius: var(--border-radius-small);
}

.form-submit {
  @extend .flex-center;
  margin-top: var(--space-medium);
  width: 100%;
}
