.filters-wrapper {
  @extend .flex-column;
  width: 32rem;
  height: max-content;
  padding: var(--space-big);
  background-color: var(--color-primary);
  border-radius: var(--border-radius-small);

  @include setBreakpoint(1350px) {
    visibility: visible;
    justify-content: center;
    width: 39rem;
  }
}

.filters-form {
  @extend .flex-column;
  gap: var(--space-medium);
  width: 100%;
}
