$layout-break-1: 900px;

.footer {
  @extend .flex-column;
  justify-content: space-between;
  height: max-content;
  padding: 0 var(--space-large);
  background-color: var(--color-primary);

  @include setBreakpoint($layout-break-1) {
    background-position: 0 -10%;
  }
}

.footer-content {
  @extend .flex-between;
  padding: var(--space-big) var(--space-large);

  @include setBreakpoint(900px) {
    flex-direction: column;
    align-items: center;
    gap: var(--space-big);
  }
}
.footer-legal {
  @extend .flex-between;

  padding: var(--space-medium);
  border-top: 1px solid rgb(197, 193, 193);

  @include setBreakpoint($layout-break-1) {
    padding: var(--space-medium);
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
  }
}
