.section {
  @extend .flex-center-column;
  background-image: url('/icons/toys-blurred.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.section-content {
  width: 100%;
  padding: 0 15%;
}

.section-icon {
  transform: translateY(2.75rem);
  height: 6rem;
  width: 6rem;
  display: inline-block;
}

.section-link {
  font-size: 2rem;
  margin-left: var(--space-small);
}
