.section {
  @extend .flex-center-column;
}

.section-content {
  @extend .flex-center-column;
  width: 100%;
  padding-right: 35rem;

  @include setBreakpoint(950px) {
    gap: var(--space-big);
    padding: 0;
  }
}

.section-icon {
  transform: translateY(2.75rem);
  height: 6rem;
  width: 6rem;
  display: inline-block;
}

.section-link {
  font-size: 2rem;
  margin-left: var(--space-small);
}

.section-card {
  position: relative;
  @extend .flex-column;
  @include setBreakpoint(950px) {
    gap: var(--space-big);
  }
}

.section-card-big {
  display: block;
  @include setBreakpoint(950px) {
    display: none;
  }
}

.section-card-small {
  display: none;

  @include setBreakpoint(950px) {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    background-image: url('/icons/toys-blurred.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: -5rem;
    right: -7rem;

    @include setBreakpoint(400px) {
      right: -5rem;
    }
  }
}
