$layout-break-1: 780px;

.banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  height: 45rem;
  width: 100%;
  @include setBreakpoint($layout-break-1) {
    height: max-content;
    flex-direction: column;
  }
}

.banner-graphic {
  @extend .flex-column;
  justify-content: flex-end;
  height: 45rem;
  min-width: 40rem;
  background-image: url('/images/baner.jpg');
  background-size: cover;
  background-position: 80% 35%;
  height: 100%;
  width: 65%;
  background-repeat: no-repeat;

  @include setBreakpoint($layout-break-1) {
    width: 100%;
    height: 40rem;
    background-position: 80% 45%;
  }
}

.banner-content {
  @extend .flex-center-column;
  width: 50%;
  height: 100%;
  @include setBreakpoint($layout-break-1) {
    width: 100%;
  }
}

.banner-heading {
  @extend .flex-column;
  align-items: flex-start;
  gap: var(--space-big);
  padding: var(--space-small);

  @include setBreakpoint($layout-break-1) {
    align-items: center;
    padding: var(--space-big);
  }
}

.banner-heading-elements {
  transform: translateY(-1.4rem);
}

.banner-detail {
  font-size: 1.8rem;
  transform: translateY(0.3rem);
}

.banner-link {
  @extend .link-unstyled;

  @include setBreakpoint($layout-break-1) {
    width: 25rem;
  }
}

.container {
  display: none;
  transform: rotate(180deg) translateY(-5px);
  background-color: transparent;

  @include setBreakpoint($layout-break-1) {
    display: flex;
  }
}
